<div class="jumbotron" style="position: relative;">
  <div class="text-center">
    <h1 class="display-4">Jamila Maqsoudi</h1>
    <h1>Software Developer | Software QA Engineer</h1>
  </div>
  <div style="position: absolute; bottom: 5px; right: 5px;">
    <a href="//linkedin.com/in/jamila-maqsoudi/">
      <img src="../../assets/logo-linkedin-icon.png" width="24" height="24" class="rounded-circle me-2">
    </a>
    <a href="//github.com/jmaqsoudi" target="_blank">
      <img src="../../assets/logo-github-icon.jpeg" width="24" height="24" class="rounded-circle me-2">
    </a>
    <a href="//x.com" target="_blank">
      <img src="../../assets/logo-x-icon.jpeg" width="24" height="24" class="rounded-circle me-2">
    </a>
  </div>
</div>
